@import "tailwindcss";

:root {
  --blue-ligth: #AEDEFC;
  --green-ligth: #EDFFF0;
  --pink-ligth: #F875AA;
  --red-very-ligth: #FDEDED;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-blue-light: var(--blue-ligth);
  --color-green-ligth: var(--green-ligth);
  --color-pink-ligth: var(--pink-ligth);
  --color-red-very-ligth: var(--red-very-ligth)
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }
}

body {
  background: var(--green-ligth);
  color: var(--pink-ligth);
  font-family: Arial, Helvetica, sans-serif;
}
